	.main {
		.tag-list {
			font-size: em(16);
			margin-top: em(20, 16);
		}
	}

	.about-author {
		.content {
			@include box-shadow(none);
			background: none;
			color: $lightGray;
			display: table;
			max-width: 100%;
			table-layout: fixed;
		}

		.author-thumb {
			display: table-cell;
			border-radius: 50%;
			overflow: hidden;
			width: em(210);
			vertical-align: middle;
			img {
				height: auto;
				width: 100%;
			}

			+ .author-details {
				padding-left: em(30);
			}
		}

		.author-details {
			display: table-cell;
			vertical-align: middle;
			> :last-child {
				margin-bottom: 0;
			}
		}
	}


	.bp-content {
		overflow: hidden;
	}
	.bp-excerpt {
		> p:last-child {
			margin-bottom: 0 !important;
		}
	}

	.addthis_sharing_toolbox {
		height: em(39);
		margin: em(3) 0;
	}
	.at-share-tbx-element .at-share-btn:first-child {
		margin-left: 0 !important;
	}
	.at-share-tbx-element .at-share-btn:last-child {
		margin-right: 0 !important;
	}

	//! BLOG POST META
	.content .bp-meta {
		clear: both;
		display: block;
		padding-left: 0;
		margin-bottom: em(10);

		li {
			font-size: em(16, 20);
			float: left;
			margin-left: em(25, 16);

			&:before {		
				content: '|';
				color: lighten($lightGray, 10%);
				margin-left: em(-2, 16);
				margin-top: em(-1, 16);
				vertical-align: bottom;
			}

			&:first-child {
				margin-left: 0;
				&:before {
					display: none;
				}

			}

		}
	}

	.bp-featured-img {
		float: left;
		width: em(176);
		margin-right: em(30);
		margin-bottom: em(30);
		position: relative;
			top: em(7);
		img {
			height: auto;
			width: 100%;
		}

		.single & {
			width: em(250);
		}
	}

	//! COMMENTS
 	.comments-container {
	 	color: $blueGray;
	 	padding: em(60) 0;
	 	
	 	.content {
		 	.comment-reply-title {
		 		@include heading(500);
			 	color: $blueGray;
			 	font-size: em(30);
		 		line-height: 1.2;
		 		margin-bottom: em(20, 30);	
	 		}
	 	}
 	}
 	
 	//! COMMENT FORM
 	.comment-form {
	 	
	 	p {
		 	margin-bottom: em(16);
	 	} 	
	 	
	 	label {
		 	display: block;
		 	font-weight: 400;
		 	margin-bottom: em(4);
	 	}
	 	
	 	[type="text"] {
		 	display: block;
		 	font-size: em(16);
		 	max-width: em(400, 16);
		 	min-width: 0;
		 	width: 100%;
	 	}
	 	
	 	textarea {
		 	font-size: em(16);
		 	width: em(400, 16);
		 	max-width: 100%;
	 	}
	 	
	 	[type="submit"] {
		 	
	 	}
 	}
 	
 	//! COMMENT MESSAGES
 	.main {
	 	.commentlist {
	 		font-size: 100%;
		 	margin-top: em(35);
	 	}
	 	
	 	.comment ,
	 	.comment:first-child {
		 	border-top: 1px solid $blueGray;
		 	padding: em($gutter) 0;
	 	}
	 	
	 	.comment {
 			display: table;
	 		table-layout: fixed;
	 		width: 100%;

		 	&:last-child {
			 	border-bottom: 1px solid $blueGray;
		 	}

		 	.gravatar , 
	 		.comment-body {
				display: table-cell;
				vertical-align: top;
			}

		 	.gravatar {
			 	width: em(90);
		 	}
		 	
		 	//! NESTED COMMENT
		 	ol {
			 	clear: both;
			 	overflow: hidden;
		 	}
		 	.comment {
			 	margin-top: em($gutter);
			 	&:last-child {
				 	border-bottom: none;
				 	padding-bottom: 0;
			 	}
		 	}
	 	}
	 	
	 	.comment-author {
		 	margin-bottom: 0;
	 	}
	 	
	 	.comment-date {
		 	color: $darkGray;
		 	margin-bottom: em(15);
	 	}
	 	
	 	.comment-content p:last-child {
		 	margin-bottom: 0;
	 	}
	 	
	 	.comment-reply-link {
		 	position: absolute;
		 		right: em(30);
		 		top: em(35);
		 	text-decoration: none;
		 	&:before {
			 	content: '\f112';
			 	display: inline;
			 	font-family: 'FontAwesome';
				margin-right: em(12);
		 	}
	 	}
	}