.panels {
	min-height: em(600);
	height: 100vh;
	position: relative;

	.owl-stage-outer ,
	.owl-stage ,
	.owl-item {
		height: 100vh;
		min-height: em(600) !important;
	}

	.owl-dots {
	 	display: block !important;
		position: absolute;
			bottom: em(20);
			left: em(40);
			right: em(40);
			z-index: 4;
		text-align: right;
 	}
 	
 	.owl-dot {
	 	@include transition(background-color 500ms ease 0s);
	 	background-color: rgba(255,255,255,0.5);
	 	border: 1px solid #fff;
	 	border-radius: 50%;
	 	display: inline-block;
	 	height: em(13);
	 	margin: 0 em(4);
	 	width: em(13);
	 	
	 	&.active {
		 	background: rgba(255,255,255,0.9);
	 	}
 	}
}

.panel ,
.panel-bg {
	position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
}


.panel-bg {
	@include transition(opacity 500ms ease 0s);
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;

	.mod-js & {
		opacity: 0;
		&.fadeIn {
			opacity: 1;
		}
	}
}

.hp-content {
	background: rgba(0,0,0,0.5);
	color: #fff;
	padding: em(20) em(40);
	position: absolute;
		bottom: em(40);
		left: em(40);
		right: em(40);
		z-index: 99;
	max-width: em(540);
}

$headlineSize: 45;
.hp-headline {
	font-weight: 700;
	font-size: em($headlineSize);
	line-height: 1.2;
	margin-bottom: em(12, $headlineSize);
	em {
		font-style: normal;
		font-weight: 300;
	}
}

.hp-desc {
	color: #fff;
	font-size: em(24);
	font-weight: 300;
	z-index: 99;
}