h1 ,
h2 ,
h3 ,
h4 ,
h5 ,
h6 ,
label {
	@include heading(700);
	line-height: 1.2;
}

.content {
	
	> :last-child {
		margin-bottom: 0 !important;
	}

	h1 {
		@include heading(400);
		font-size: em(48);
		margin-bottom: em(24, 48);
	}

	h2 ,
	h3 ,
	h4 {
		text-transform: uppercase;
	}

	h2 {
		font-size: em(26);
		margin-bottom: em(10, 26);
	}

	h3 {
		@include heading(500);
		font-size: em(20);
		margin-bottom: em(8, 20);
	}

	h4 {
		font-size: em(18);
		margin-bottom: em(4, 18);
	}

	a {
		color: $baseColor;
		font-weight: 700;
		&:hover {
			color: $secondaryColor;
		}
	}

	p ,
	ol ,
	ul , 
	table ,
	blockquote {
		margin-bottom: em($gutter); 
	}

	p ,
	ol ,
	ul {
		font-size: em(20);		
	}

	ul ,
	ol {
		padding-left: em(40);
	}

	ul {
		> li {
			position: relative;
		}
	}
	

} 