/*---------------------------------------------------------
 * !COLORS
 *---------------------------------------------------------*/ 
 	
 	$orange: #f7a11a;
 	$green: #585E48;
	
 	// grays
 	$darkGray: #333;
 	$gray: #666;
 	$lightGray: #999;
 	$extraLightGray: #e9e9e9;

	//! BASE COLOR
	$baseColor: $orange;
	$secondaryColor: $green;

/*---------------------------------------------------------
 * !OTHER VARIABLES
 *---------------------------------------------------------*/ 

	$border: solid 1px #lightGray;
	$borderRadius: 5px;

	$gutter: 35;	
	$widthCenter: 1340;
	$sidebarRight: 300;