/*---------------------------------------------------------
 * !COLORS
 *---------------------------------------------------------*/ 

	$green: #42ce61;
	$orange: #ffbf52;
	$red: #ff4945;
	$salmon: #f36557;
	
	//! GRAYS AND BLACKS
	$black: #2a3740;
	$dark: #222832;
	$blueBlack: #1a212c;
	$darkGray: #555555;
	$blueGray: #9ea1a5;
	$gray: #666;
	$lightGray: #b9babd;
	$offWhite: #e0e0e0;

	//! BASE COLOR
	$baseColor: $green;

/*---------------------------------------------------------
 * !OTHER VARIABLES
 *---------------------------------------------------------*/ 

	$defaultBorder: solid 1px #ccc;
	$gutter: 20;
	$widthCenter: 1180;
	$sidebarRight: 300;