//! SINGLE PRODUCT
.woocommerce {
	.main {
		div.product {
			div.images {
				img {
					max-width: 100%;
					width: auto;
				}
			}
		}

		ul {
			li {
				&:before {
					display: none;
				}
			}
		}
	}
}