//! 700 ( SPECIAL BOLD )
@font-face {
	font-family: 'AkzidenzGrotesk Ex';
	src: url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-BoldEx.eot'); /* IE9 Compat Modes */
	src: url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-BoldEx.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-BoldEx.woff') format('woff') , 
		 url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-BoldEx.ttf') format('truetype'), 
		 url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-BoldEx.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}


//! 700 (BOLD )
@font-face {
	font-family: 'AkzidenzGrotesk';
	src: url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-XBd.eot'); /* IE9 Compat Modes */
	src: url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-XBd.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-XBd.woff') format('woff'), 
		 url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-XBd.ttf') format('truetype'), 
		 url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-XBd.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}



//! 700 ITALIC ( BOLD / ITALIC ) 
@font-face {
	font-family: 'AkzidenzGrotesk';
	src: url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-BoldIt.eot'); /* IE9 Compat Modes */
	src: url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-BoldIt.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-BoldIt.woff') format('woff'), 
		 url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-BoldIt.ttf') format('truetype'), 
		 url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-BoldIt.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}


//! 300 LIGHT (NORMAL) 
@font-face {
	font-family: 'AkzidenzGrotesk';
	src: url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-Light.eot'); /* IE9 Compat Modes */
	src: url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-Light.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-Light.woff') format('woff'), 
		 url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-Light.ttf') format('truetype'), 
		 url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}




//! 300 ITALIC (NORMAL, ITALIC)
@font-face {
	font-family: 'AkzidenzGrotesk';
	src: url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-It.eot'); /* IE9 Compat Modes */
	src: url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-It.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */ 
		 url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-It.woff') format('woff'), 
		 url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-It.ttf') format('truetype'), 
		 url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-It.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}

//! 300 EX (SPECIAL)
@font-face {
	font-family: 'AkzidenzGrotesk Ex';
	src: url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-LightEx.eot'); /* IE9 Compat Modes */
	src: url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-LightEx.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */ 
		 url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-LightEx.woff') format('woff'), 
		 url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-LightEx.ttf') format('truetype'), 
		 url('../fonts/AkzidenzGrotesk/AkzidenzGroteskBE-LightEx.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

