//---
// Site Container - used for centering the site
//---
.inner {
	margin: 0 auto;
	position: relative;
	width: em($width-center);

	@include inner-change-down {
		padding: 0 em(20);
		width: 100%;
	}

}

//---
// Wordpress alignment classes
//---
.aligncenter {
	display: table;
	margin: 0 auto em($gutter);
}

.alignleft ,
.alignright {
	
	height: auto;
	margin-bottom: em($gutter);
	max-width: 45%;
	position: relative;
		top: 5px;
}

.alignleft {
	float: left;
	margin-right: em($gutter);
}

.alignright {
	float: right;
	margin-left: em($gutter);
}

@include smartphone-landscape-down {

	.aligncenter ,
	.alignleft ,
	.alignright {
		display: block;
		float: none;
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
	}
	
}

//---
// Helper classes for removing default site borders/list styles
//---
.no-border ,
.no-border img {
	border: none !important;
	box-shadow: none;
}

.no-list-style ,
.no-list-style li {
	list-style: none !important;
	padding-left: 0 !important;

	&:before {
		display: none !important;
	}
	
}

//---
// Helpers classes for forcing elements to behave inline/inline-block
//---
.force-inline {
	display: inline !important;
}

.force-inline-block {
	display: inline-block !important;
}

//---
// Learn more link styles
//---
.more {
	@include transition-duration(500ms);
	@include transition-property(color);
	color: darken($primary-color, 12%);
	font-size: em(15);
	font-weight: 400;
	letter-spacing: 0.05em;
//	margin-left: em(4, 14);
	position: relative;
	text-transform: uppercase;
	
	&:hover {
		color: $primary-color;
	}
	
	&:after {
		content: '\f105';
		font-family: $font-awesome;
		margin-left: 5px;
		position: relative;
	}
	
}

//---
// Button link styles
//---
$btn-color: $secondary-color;
$btn-size: 18;
%btn {
	@include transition-property(all);
	@include transition-duration(500ms);
	background: tint( $btn-color, 88% );
	border: 2px solid $btn-color;
	color: $secondary-color;
	display: inline-block;
	font-size: em($btn-size);
	font-weight: 400;
	line-height: 1.1;
	padding: em(15, $btn-size) em(28, $btn-size) em(12, $btn-size);
	text-align: center;
	text-transform: lowercase;
	white-space: nowrap;	
}

.btn ,
[type="submit"] {
	@extend %btn;
	
	&:hover {
		background: tint($secondary-color, 20%);
		border-color: tint($secondary-color, 50%);
		color: white;
	}
	
}

//---
// Loading icon
//---
.icon-loading {
	@include transform(translate(-50%,-50%));
	color: $primary-color;
	font-size: em(44);
	position: absolute;
		top: 50%;
		left: 50%;	
}

//---
// Table align classes
//---
.tble {
	display: table;
	height: 100%;
	table-layout: fixed;
}		

.tble-cell {
	display: table-cell;
	vertical-align: middle;
}

//---
// Image Shadow (Typically applied via javascript)
//---
.img-shadow {
	border: solid 2px #f6f9fa;
	border-radius: 2px;
	display: inline-block;
	position: relative;
}

.img-shadow:before {
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
	content: '';
	position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
}

//---
// Easy List Splitter - a jquery plugin to help split lists into columns
//---
[class^="listContainer"] {
	clear: both;
	overflow: hidden;
}

.two-column ,
.three-column {
	float: left;
}

.two-column {
	width: 50%;
}

.three-column {
	width: 33.3333333333333%
}

@include smartphone-landscape-down {
	
	[class^="listContainer"] {
		margin-bottom: em($gutter);
	}
	
	.two-column ,
	.three-column {
		float: none;
		margin-bottom: 0;
		width: auto;
	}
	
}