.masthead {
	background-color: #333;
	padding-top: em($header-desktop);
	position: relative;
}

.masthead-bg {
	//@include transition(500ms ease 250ms);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	
	&.ready {
		opacity: 1;
	}
	
}

.masthead-title {
	color: #fff;
	font-size: em(48);
	font-weight: 300;
	line-height: 1.1;
	margin-bottom: 0;
	padding: 12px 0 8px;
}

@include smartphone-landscape-down {
	
	.masthead {
		height: auto;
		
		&-title {
			margin-bottom: 0; 
		}
		
		&-content {
			padding: em(30) 0;
		}
		
	}
	
	.masthead-bg {
		display:  none;
	}
	
}