.project-slide {
	background: #FAFAF0;
	height: 100vh;
	position: relative;
	width: 100%;
	
	&__image {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
			top: 0;
			bottom: 0;
			
		&--full-screen {
			left: 0;
			right: 0;
		}
			
		&--left {
			left: 0;
			width: 50%;
		}
		
		&--right {
			right: 0;
			width: 50%;
		}
		
	}
	
	&__content {
		position: absolute;
			top: 0;
			bottom: 0;
		
		//! when fullscreen
		&--full-screen {
			@include background-image(linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.7) 100% )); 
			color: #fff;
			left: 0;
			right: 0;
			
			.content-inner {
				@include transform(translate(-50%, 0));
				position: absolute;
					bottom: em(50);
					left: 50%;			
				width: em($width-center);
			}
			
		}
		
		//! when left
		&--left {
			left: 0;
			width: 50%;
		}
		
		//! when right
		&--right {
			right: 0;
			width: 50%;
		}
		
		&--left ,
		&--right {
			.content-inner {
				padding: em(40) em(80);
				position: absolute;
					bottom: em(80);
					left: 0;
					right: 0;
			}
		}
		
		
	}
	
}


//! slide typography
.ps__title {
	//font-family: $secondaryFace;
	font-variant: small-caps;
	font-size: em(16);
	font-weight: 400;
	letter-spacing: 0.1em;
	margin-bottom: em(28, 16);
	position: relative;
	padding-bottom: em(12, 16);
	text-transform: uppercase;
	
	&:before {
		background: #fff;
		content: '';
		display: block;
		height: 1px;
		position: absolute;
			bottom: 0;
			left: 0;
		width: 12px;
			
	}
	
}

.ps__content {
	max-width: em($width-center/2);
	
	
	p {
		font-size: em(20);
		line-height: ( 28/20);
		margin-bottom: em(20, 20);
		
		strong {
			letter-spacing: 0.03em;
			font-size: em(22, 20);
		}
		
	}
	

}

.ps__cite {
	font-size: em(13);
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.project-slider {
	.owl-nav {
		position: absolute;
			right: 0;
			bottom: em(20);
			z-index: 4;
			
		$owlNav: 30;
		.owl-prev ,
		.owl-next {
		 	background: $orange;
		 	color: #fff;
		 	display: block !important;
		 	float: left;
		 	font-size: em($owlNav);
		 	height: em(40, $owlNav);
		 	line-height: em(40, $owlNav);
		 	margin-left: 1px;
			text-align: center;
			width: em(40, $owlNav);
			
			&:hover {
				background: tint($orange, 20%);
			}
			
			i {
				line-height: em(40, $owlNav);	
			}
			
		}
	
	}
	
	.owl-item {
		z-index: 1;
	}
	
}